<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
      (click)="delete(hero)">X</button>
  </li>
</ul>

<div>
  <label>Hero name:
    <!-- <input [(ngModel)]="newName" placeholder="new hero name"> -->
    <input #heroName placeholder="new hero name">
  </label>
  <!-- TODO : event 넘길 때 작성 문법 알아두기 $event -->
  <!-- <button (click)="addNewHero()"> -->
  <button (click)="add(heroName.value); heroName.value=''">
  add
  </button>
</div>
